<link rel="stylesheet" href="/css/users.css">
<div id="div1">
<h1><%= userPage %></h1>
<p><%= locals.user.name %></p>
<p><%= locals.user.email %></p>
<p><a style="color: red;" href="/<%= locals.user.id %>">Home</a></p>
<img src="<%= locals.user.avatar %>" alt="profile" height="100px" width="100px">
</div>
    <h4 style="font-family: sans-serif;">Add a post</h4>
    <form style="padding: 10px; margin: 2% 25%;" action="/posts/create-comments" id="post-form" method="post">
        <textarea name="content" id="t" cols="30" rows="3" placeholder="Create a posts" required></textarea>
        <button type="submit">Post</button>
    </form>
<div id="users-feed">
    <section id="feed-post">
        <div id="post-container">
            <% for(let i of posts){ %>
                <%- include('_post',{i:i}) -%>
            <% } %>
        </div>
    </section>
    <section id="friends_profile">
        <h4>Friends</h4>
        <% for(let u of all_users) { %>
            <p><a href="/<%=u.id%>"><%= u.name %></a></p>
        <% } %>
    </section>
</div>
<!-- this is for posts -->
<script src="/js/usersActions.js"></script>
<!-- this is gor likes -->
<script src="/js/create-likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>